html
{
	background-color: gray;
}

body
{
	background-color: rgb(186 186 186);

	margin: 5px 10% 5px 10%;
	padding: 5px 0px 20px 0px;
	border-radius: 20px;
}


/*Image*/

	#PikePushUp
		{
			background-color: rgb(51 214 255);

			margin: auto;
			margin-top: 20px;
			margin-bottom: 50px;
			width: 325px; 
			height: 340px;

			color: black;			
			text-align: center;
			font-size: 1.5em;

			border-radius: 10px;
			box-shadow: 6px 6px 15px black;
		}		


/*Texte*/
	
	#P1
		{
			background-color: white;
			
			margin: 0px 20% 0px 20%;
			padding: 20px;
			border-radius: 20px;

			font-size: 2em;
			text-align: center;
		}